
.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    height: 650px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#search {
    margin-top : 200px;
}